.container
  .row
    .two.columns
    .ten.columns
      %h1 Haml Preview
  .row
    .six.columns
      %h5 Type in HAML
      %textarea.u-full-width.haml-preview
    .six.columns
      %H5 Preview HTML
      %textarea.u-full-width.html-preview
