.h1
  =@instructor_app.first_name
  =@instructor_app.last_name

.body
  ="Activity: "
  =@activity.title
  %br
  =@activity.description
  %br
  %br
  = "My Story"
  %br
  =@instructor_app.new_haven
  %br
  =@instructor_app.hobbies
