.head
  %link{rel:"stylesheet"}

.body
  .h1
    = @greeting
  .container
    = @mission_statement

  %a{href: "/instructor_apps/new"}
    Application
  %a{href: "/stories"}
    Stories
  %a{href: "/users/sign_up"}
    Sign Up
  = link_to 'Sign Out', destroy_user_session_path, method: 'DELETE'
