<head>
  <link rel="stylesheet" href="my_css.css"/>
</head>

<h1>
  Where I'm From
</h1>

<div class = "container">
  <p>
    I am from the town of <%=@hometown%>.
  </p>
  <p>
  Did you know that in <%=@hometown%>, <%=@funfact%>??? Wow! Fun!
</p>
<p>
  <img src= "http://bryansides.com/wp-content/uploads/2012/09/santa-monica-pier-at-sunset.jpg">
</p>
  <a href="/">Home</a>
</div>
