<head>
  <link rel="stylesheet" href="my_css.css"/>
</head>

<h1>
  Zoe's Code Sail Blog!
</h1>

<div class = "container">
  <p>
    Welcome to <%=@name%>'s blog! You can read more about me
    and what I'm learning at Code Sail below.
  </p>
  <p>
  <a href="/aboutme">About Me</a>
</p>
<a href="/blogpost">Blog Posts!</a>

</div>
